# dependencies
/node_modules
package-lock.json

# production
/build

# environment
.env

# editors & OS
.claude
.DS_Store
.vscode

# scripts
scripts
update-dependencies.sh

# test fixtures
src/components/SearchView/__fixtures__
